<a href="#" class="tile js-isotope-element gradient-top-bottom-blue">
	<div class="tile__image" style="background-image: url(assets/images/temp/tail-1.jpg);">
		<img src="assets/images/temp/tail-1.jpg" alt="" width="410" height="414">
	</div><!-- /.tile__image -->

	<div class="tile__head">
		<h4 class="title-center title--small">
			Detroit, MI USA
		</h4><!-- /.title -->

		<div class="tile__layout">
			<p>
				The Urban Collaboratory is currently involved with a series of projects in Detroit focused on health, social, and water.
			</p>

			<span class="link-more">Learn More</span>
		</div><!-- /.tile__layout -->
	</div><!-- /.tile__head -->
</a><!-- /.tail -->

<a href="#" class="tile js-isotope-element gradient-top-bottom-blue">
	<div class="tile__image" style="background-image: url(assets/images/temp/tail-2.jpg);">
		<img src="assets/images/temp/tail-2.jpg" alt="" width="410" height="618">
	</div><!-- /.tile__image -->

	<div class="tile__head">
		<h4 class="title-center title--small">
			Ann Arbor, MI USA
		</h4><!-- /.title -->

		<div class="tile__layout">
			<p>
				The Urban Collaboratory is currently involved with a series of projects in Detroit focused on health, social, and water.
			</p>

			<span class="link-more">Learn More</span>
		</div><!-- /.tile__layout -->
	</div><!-- /.tile__head -->
</a><!-- /.tail -->

<a href="#" class="tile js-isotope-element gradient-top-bottom-blue">
	<div class="tile__image" style="background-image: url(assets/images/temp/tail-3.jpg);">
		<img src="assets/images/temp/tail-3.jpg" alt="" width="410" height="274">
	</div><!-- /.tile__image -->

	<div class="tile__head">
		<h4 class="title-center title--small">
			Benton Harbor, MI USA
		</h4><!-- /.title -->

		<div class="tile__layout">
			<p>
				The Urban Collaboratory is currently involved with a series of projects in Detroit.
			</p>

			<span class="link-more">Learn More</span>
		</div><!-- /.tile__layout -->
	</div><!-- /.tile__head -->
</a><!-- /.tail -->

<a href="#" class="tile js-isotope-element gradient-top-bottom-blue">
	<div class="tile__image" style="background-image: url(assets/images/temp/tail-4.jpg);">
		<img src="assets/images/temp/tail-4.jpg" alt="" width="411" height="275">
	</div><!-- /.tile__image -->

	<div class="tile__head">
		<h4 class="title-center title--small">
			Grand Rapids, MI USA
		</h4><!-- /.title -->

		<div class="tile__layout">
			<p>
				The Urban Collaboratory is currently involved with a series of projects in Detroit
			</p>

			<span class="link-more">Learn More</span>
		</div><!-- /.tile__layout -->
	</div><!-- /.tile__head -->
</a><!-- /.tail -->

<a href="#" class="tile js-isotope-element gradient-top-bottom-blue">
	<div class="tile__image" style="background-image: url(assets/images/temp/tail-5.jpg);">
		<img src="assets/images/temp/tail-5.jpg" alt="" width="411" height="414">
	</div><!-- /.tile__image -->

	<div class="tile__head">
		<h4 class="title-center title--small">
			Ypsilanti, MI USA
		</h4><!-- /.title -->

		<div class="tile__layout">
			<p>
				The Urban Collaboratory is currently involved with a series of projects in Detroit focused on health, social, and water.
			</p>

			<span class="link-more">Learn More</span>
		</div><!-- /.tile__layout -->
	</div><!-- /.tile__head -->
</a><!-- /.tail -->

<a href="#" class="tile js-isotope-element gradient-top-bottom-blue">
	<div class="tile__image" style="background-image: url(assets/images/temp/tail-6.jpg);">
		<img src="assets/images/temp/tail-6.jpg" alt="" width="411" height="275">
	</div><!-- /.tile__image -->

	<div class="tile__head">
		<h4 class="title-center title--small">
			Chicago, IL USA
		</h4><!-- /.title -->

		<div class="tile__layout">
			<p>
				The Urban Collaboratory is currently involved with a series of projects in Detroit
			</p>

			<span class="link-more">Learn More</span>
		</div><!-- /.tile__layout -->
	</div><!-- /.tile__head -->
</a><!-- /.tail -->

<a href="#" class="tile js-isotope-element gradient-top-bottom-blue">
	<div class="tile__image" style="background-image: url(assets/images/temp/tail-7.jpg);">
		<img src="assets/images/temp/tail-7.jpg" alt="" width="411" height="413">
	</div><!-- /.tile__image -->

	<div class="tile__head">
		<h4 class="title-center title--small">
			Kingston, Jamaica
		</h4><!-- /.title -->

		<div class="tile__layout">
			<p>
				The Urban Collaboratory is currently involved with a series of projects in Detroit focused on health, social, and water.
			</p>

			<span class="link-more">Learn More</span>
		</div><!-- /.tile__layout -->
	</div><!-- /.tile__head -->
</a><!-- /.tail -->