
						<a href="#" class="tile js-isotope-element gradient-top-bottom-blue energy detroit">
							<div class="tile__image" style="background-image: url(assets/images/temp/tail-1-1.jpg);">
								<img src="assets/images/temp/tail-1-1.jpg" alt="" width="410" height="613">
							</div><!-- /.tile__image -->

							<div class="tile__head">
								<div class="tile__icons">
									<img src="assets/images/svg/energy-yellow.svg" alt="" width="50" height="50">

									<img src="assets/images/svg/water-yellow.svg" alt="" width="50" height="50">
								</div><!-- /.tile__icons -->

								<h4 class="title-center">
									Detroit, MI USA
								</h4><!-- /.title -->

								<div class="tile__layout">
								<p>
									Urine contains nitrogen, phosphorus, and potassium—nutrients that are essential for plants to grow. That’s why Professor Nancy Love and her team have installed special toilets and urinals at a University of Michigan building to divert urine, concentrate it, sanitize it, and prepare it for re-use as fertilizer.
								</p>

								<span class="link-more">Learn More</span>
							</div><!-- /.tile__layout -->
							</div><!-- /.tile__head -->
						</a><!-- /.tile -->

						<a href="#" class="tile js-isotope-element gradient-top-bottom-blue water benton-harbor">
							<div class="tile__image" style="background-image: url(assets/images/temp/tail-1-2.jpg);">
								<img src="assets/images/temp/tail-1-2.jpg" alt="" width="410" height="410">
							</div><!-- /.tile__image -->

							<div class="tile__head">
								<div class="tile__icons">
									<img src="assets/images/svg/water-yellow.svg" alt="" width="50" height="50">
								</div><!-- /.tile__icons -->

								<h4 class="title-center">
									Benton Harbor, MI USA
								</h4><!-- /.title -->

								<div class="tile__layout">
									<p>
										Urine contains nitrogen, phosphorus, and potassium—nutrients that are essential for plants to grow. That’s why Professor Nancy Love and her team have installed special toilets and urinals at a University of Michigan building to divert urine, concentrate it, sanitize it, and prepare it for re-use as fertilizer.
									</p>

									<span class="link-more">Learn More</span>
								</div><!-- /.tile__layout -->
							</div><!-- /.tile__head -->
						</a><!-- /.tile -->

						<a href="#" class="tile js-isotope-element gradient-top-bottom-blue water grand-rapids">
							<div class="tile__image" style="background-image: url(assets/images/temp/tail-1-3.jpg);">
								<img src="assets/images/temp/tail-1-3.jpg" alt="" width="411" height="615">
							</div><!-- /.tile__image -->

							<div class="tile__head">
								<div class="tile__icons">
									<img src="assets/images/svg/water-yellow.svg" alt="" width="50" height="50">
								</div><!-- /.tile__icons -->

								<h4 class="title-center">
									Grand Rapids, MI USA
								</h4><!-- /.title -->

								<div class="tile__layout">
									<p>
										Urine contains nitrogen, phosphorus, and potassium—nutrients that are essential for plants to grow. That’s why Professor Nancy Love and her team have installed special toilets and urinals at a University of Michigan building to divert urine, concentrate it, sanitize it, and prepare it for re-use as fertilizer.
									</p>

									<span class="link-more">Learn More</span>
								</div><!-- /.tile__layout -->
							</div><!-- /.tile__head -->
						</a><!-- /.tile -->

						<a href="#" class="tile js-isotope-element gradient-top-bottom-blue water grand-rapids">
							<div class="tile__image" style="background-image: url(assets/images/temp/tail-1-5.jpg);">
								<img src="assets/images/temp/tail-1-5.jpg" alt="" width="409" height="410">
							</div><!-- /.tile__image -->

							<div class="tile__head">
								<div class="tile__icons">
									<img src="assets/images/svg/water-yellow.svg" alt="" width="50" height="50">
								</div><!-- /.tile__icons -->

								<h4 class="title-center">
									Grand Rapids, MI USA
								</h4><!-- /.title -->

								<div class="tile__layout">
									<p>
										Urine contains nitrogen, phosphorus, and potassium—nutrients that are essential for plants to grow. That’s why Professor Nancy Love and her team have installed special toilets and urinals at a University of Michigan building to divert urine, concentrate it, sanitize it, and prepare it for re-use as fertilizer.
									</p>

									<span class="link-more">Learn More</span>
								</div><!-- /.tile__layout -->
							</div><!-- /.tile__head -->
						</a><!-- /.tile -->

						<a href="#" class="tile js-isotope-element gradient-top-bottom-blue water health ann-arbor">
							<div class="tile__image" style="background-image: url(assets/images/temp/tail-1-4.jpg);">
								<img src="assets/images/temp/tail-1-4.jpg" alt="" width="409" height="612">
							</div><!-- /.tile__image -->

							<div class="tile__head">
								<div class="tile__icons">
									<img src="assets/images/svg/water-yellow.svg" alt="" width="50" height="50">

									<img src="assets/images/svg/house.svg" alt="" width="50" height="50">
								</div><!-- /.tile__icons -->


								<h4 class="title-center">
									Ann Arbor, MI USA
								</h4><!-- /.title -->

								<div class="tile__layout">
									<p>
										Urine contains nitrogen, phosphorus, and potassium—nutrients that are essential for plants to grow. That’s why Professor Nancy Love and her team have installed special toilets and urinals at a University of Michigan building to divert urine, concentrate it, sanitize it, and prepare it for re-use as fertilizer.
									</p>

									<span class="link-more">Learn More</span>
								</div><!-- /.tile__layout -->
							</div><!-- /.tile__head -->
						</a><!-- /.tile -->

						<a href="#" class="tile js-isotope-element gradient-top-bottom-blue water grand-rapids">
							<div class="tile__image" style="background-image: url(assets/images/temp/tail-1-6.jpg);">
								<img src="assets/images/temp/tail-1-6.jpg" alt="" width="408" height="411">
							</div><!-- /.tile__image -->

							<div class="tile__head">
								<div class="tile__icons">
									<img src="assets/images/svg/water-yellow.svg" alt="" width="50" height="50">
								</div><!-- /.tile__icons -->

								<h4 class="title-center">
									Grand Rapids, MI USA
								</h4><!-- /.title -->

								<div class="tile__layout">
									<p>
										Urine contains nitrogen, phosphorus, and potassium—nutrients that are essential for plants to grow. That’s why Professor Nancy Love and her team have installed special toilets and urinals at a University of Michigan building to divert urine, concentrate it, sanitize it, and prepare it for re-use as fertilizer.
									</p>

									<span class="link-more">Learn More</span>
								</div><!-- /.tile__layout -->
							</div><!-- /.tile__head -->
						</a><!-- /.tile -->
					